.start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    font-family: "Work Sans";
    background-color: #eb6536;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
  }